<% layout('layouts/boilerplate') %>

<div class="container my-3">
  <h2 class="text-center m-3"><i class="bi bi-percent"></i> SALE <i class="bi bi-percent"></i></h2>

  <%- include('../partials/sort')%>

  <div class="row sort-container">
    <% for(product of products){%>
    <div class="col-lg-4 col-md-6 col-sm-12 item">
      <div class="card text-center mx-auto my-5 border-0" style="width: 18rem">
        <% if(product.images && product.images.length) {%>
        <img src="<%= product.images[0].url%>" class="card-img-top custom-card-img-top mx-auto" alt="scent photo" />
        <% } %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name.title%></h5>
          <p class="card-text brand"><%= product.name.brand%></p>
          <p class="avgRat"><%= product.calculateAvgRating() %></p>
          <span class="d-none average"></span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= product.type %></li>
          <li class="list-group-item text-danger"><i class="bi bi-percent"></i> SALE <i class="bi bi-percent"></i></li>
          <% for(let price of product.prices){ %> <% if(price.salePrice>0) {%>
          <li class="list-group-item text-danger" data-price="<%= price.salePrice %>">from £<%= price.salePrice%></li>
          <% break} %> <%} %>
        </ul>
        <a class="stretched-link" href="/products/<%=product._id%>"></a>
      </div>
    </div>
    <% } %>
  </div>
</div>
<script src="/JS/sort.js"></script>
